body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url("img/dark-emo-emotion-feel-wallpaper-preview.jpg"); 
    color: rgb(255, 255, 255);
}

.h2-1{
    text-align: left;
    color: red;
}

.div1{
    align-content: left;
    margin-top: 50px; 
   margin-left: 50px;
   margin-right: 450px;
   text-align: justify;
   background-color: #555353; /* Cor de fundo desejada */
  border: 2px solid rgb(194, 67, 67); /* Cor da borda desejada */
  padding: 20px; /* Espaçamento interno para o conteúdo */
  width: 600px; 
  height: 200px;
}

.divIMG{
    
    height: 100px;
    width: 30%;
    margin-top: -150px; 
   margin-left: 800px;
   margin-right: 0px;
   
}

.gabiru{

    width: 50%;
    margin-top: -10px; 
    margin-left: 20px;
    margin-right: 0px;
    border: 5px solid  rgb(207, 27, 27); 
}